<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>show</title>
    <div class="topnav">
      <a href="/">ALL FLIGHTS</a>
      <a href="flights/new">ADD FLIGHTS</a>
    </div>
</head>
<body>
  <section id="show-page">
    <div class="show">Airline: </div>
    <div><%= flight.airline %></div>
    <br>
    <div class="show">Airport: </div>
    <div><%= flight.airport %></div>
    <br>
    <div class="show">Flight Number: </div>
    <div><%= flight.flightNo %></div>
    <br>
    <div class="show">Departs: </div>
    <div><%= flight.departs %></div>
    <br><br>
            
    <br>
    <div>Tickets:</div>
    <ul>
      <% tickets.forEach(ticket => { %>
      <li>SEAT: <%= ticket.seat %> Price: <%= ticket.price %>  </li> 
      <% }) %> 
    </ul>
    <a href="/flights/<%=flight._id%>/tickets/new">ADD NEW TICKET</a>
  </section>

	<h2>Add Destinations</h2>
	<form id="add-destinations-form" method="POST" action="/flights/<%= flight._id %>/destinations">
		<label>Destinations:</label>
		<select name="airport">
			<option value="AUS">AUS</option>
			<option value="DFW">DFW</option>
			<option value="DEN">DEN</option>
			<option value="LAX">LAX</option>
			<option value="SAN" selected>SAN</option>
		</select>
        <label>Date:
            <input type="datetime-local" name="arrival">
        </label>
		<input type="submit" value="Add Destination">
</form>
<br>
<br>
<% if (flight.destinations.length) { %>
    <table>
      <thead>
      <tr>
        <th>Airport</th>
        <th>Arrival</th>
      </tr>
      </thead>
      <tbody>
      <% flight.destinations.forEach(function(r) { %>
        <tr>
        <td><%= r.airport %></td>
        <td><%= r.arrival %></td>
        </tr>
      <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Destinations Listed</h5>
    <% } %>
</body>
</html>